<%= render partial: "shared/nav" %>
<h2>Editing Your Campsite Info</h2>
<div class="container">
  <%= render 'shared/form', spot: @spot %>
  <br>
  <%= link_to 'Show', @spot, class: "btn show-btn btn-secondary" %> |
  <%= link_to 'Back', spots_path, class: "btn show-btn btn-secondary" %>
</div>