<h1>Editing Your Campsite Info</h1>

<%= render 'shared/form', spot: @spot %>

<br>
<%= link_to 'Show', @spot, class: "btn show-btn btn-secondary" %> |
<%= link_to 'Back', spots_path, class: "btn show-btn btn-secondary" %>