h2 {
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #3e403b;
}

.container {
  max-width: 1000px;
}

body {
  background-color: #babfa8;
  color: #3e403b;
}

.navbar {
  border-bottom: 2px double #3e403b;
  background-color: #3e403b;
  color: #babfa8;
}

.navbar-toggler-icon {
  color:#babfa8;
}

.nav-link {
  color: #babfa8;
}
.nav-name {
  display: flex;
  margin-bottom: 0;
}

.btn {
  margin: 5px 0;
}
